*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*debug region*/

.debug header{
    background-color: aqua;
}

.debug nav{
    background-color: #daa520;
}

.debug main{
    background-color: gray;
}

.debug footer{
    background-color: black;
}

.debug .first-section-container, .debug.invitation-place, 
.debug.discord-groups{
    height: 400px;
}

.debug .first-section-container{
    background-color: violet;
}

.debug .invitation-place{
    background-color: #ffc0cb;
}

.debug .discord-groups{
    background-color: #1e90ff;
}

.debug .fifth-section-container{
    height: 800px;
    background-color: #228b22;
}

.debug .darkgreen-rectangle, .debug .light-red-rectangle{
    height: 500px;
}

.debug .light-red-rectangle{
    background-color: #f08080;
}

.debug .darkgreen-rectangle{
    background-color: #20b2aa;
}

.debug .ending-flex-container{
    background-color: #7fffd4;
}

.debug .logo-footer, .debug .button{
    background-color: #ffb6c1;
}

/*common region*/

li{
    padding: 0 10px;
}

ul{
    list-style: none;
    color: white;
}

h1{
    color: white;
    font-size: 3rem;
}

h2{
    font-size: 3rem;
}

img{
    max-width: 100%;
}
/*header region*/

header{
    padding: 1rem 0;
}

header, nav{
    background-color: #3161e0;
}

.container {
    margin: auto;
}

.d-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login{
    text-align: right;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

/*main region*/
.bg-img{
    background-image: url('./img/jumbo.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.first-section-container{
    width: 70%;
    margin: auto;
    text-align: center;
}

.first-section-container > p{
    color: white;
    padding: 2rem;
}

.mac-download1{
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
}

.browser{
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 10px;
}

.bg-white{
    background-color: white;
}

.invitation-place, .fandom{
    margin-right: 2rem;
}

.invitation-place, .easy-find, .fandom{
    width: 25%;
}

.easy-find{
    margin-left: 2rem;
}

.invitation-place > p, .easy-find > p, .fandom > p{
    margin-top: 1.5rem;
}

.discord-groups, .voice-connect{
    width: 45%;
}

.bg-light-gray{
    background-color: #f6f6f6;
}

.fifth-section-container{
    width: 80%;
    margin: auto;
    text-align: center;
}

.fifth-section-container > p{
    padding: 1rem;
}

.fifth-section-container > h3{
    background-image: url('./img/stars.svg');
    font-size: 1.5rem;
    background-repeat: no-repeat;
    margin-bottom: 3rem;
}

.mac-download2{
    background-color: #8ea1e1;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

/*utilities region*/
.bg-img, .bg-white, .bg-light-gray, .bg-black{
    padding-top: 10rem;
    padding-bottom: 10rem;
}

/*footer region*/
.bg-black{
    background-color: black;
    border-bottom: 1px solid white;
}

.light-red-rectangle{
    width: calc((100% / 12) * 4);
}

.darkgreen-rectangle{
    width: calc((100% / 12) * 2);
    border: 1px dashed white;
}

hr.divider {
    border-bottom: 1px solid white !important;
}

.ending-flex-container{
    justify-content: space-between;
    padding: 1rem 0;
    margin-top: 1rem;
}

.logo-footer, .button{
    padding: 5px;
}
